<DOCTYPE html>
    <head><title>About Page</title></head>
    <body>
        <div class="about-section" style="background-color:coral;text-align:center">
            <h1>About Us Page</h1>
            <p>Donate blood and be the reason for someone's existence.</p>
            <p>"GIVE PLASMA,GIVE LIFE"</p>
            
          </div>
          
          <div class="row">
            <div class="column">
              <div class="card">
                <div style="display:flex;justify-content:center">
                <img src= "{{ url_for('static',filename='logo.png')}}" alt="plasma" style="align-items:center;width:20%;height:30%" >
                </div>
                <div class="container" style="background-color:grey;text-align:center">
                  <h2>Sneka</h2>
                  <p class="title">CEO & Founder</p>
                  <p>sneka@example.com</p>
                  <button class="btn btn-dark">Contact</button>
                </div>
              </div>
            </div>
          
    </body>
    </html>